<footer id="footer">
    <!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-5">
                    <div class="companyinfo">
                        <a href="/"><img style="height: 39px; width: 139px;"
                                src="/<%-logo[0].headerSettingLink%> " /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Servisler</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Bizimle İletişime Geç</a></li>
                            <li><a href="#">FAQ’s</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Politikalar</h2>
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="#">Kullanım Şartları</a></li>
                            <li><a href="#">Gizlilik Politikası</a></li>
                            <li><a href="#">Geri ödeme politikası</a></li>
                            <li><a href="#">Fatura sistemi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="single-widget">
                        <h2>Bültene Kayıt Olun</h2>
                        <form id="bultenform" class="searchform">
                            <input id="bultenemail" required name="bultenemail" type="text" placeholder="Email adresiniz?" />
                            <button id="bultenkayit" type="submit" class="btn btn-default"><i
                                    class="fa fa-arrow-circle-o-right"></i></button>
                            <p>Tüm gelişmelerden haberdar olmak için <br />bültene kayıt olabilirsiniz.!</p>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div align="center" class="row">
                <p class="col-sm-12">Copyright © 2021 canuzlas Inc. Hakları Saklıdır.</p>
            </div>
        </div>
    </div>

</footer>
<!--/Footer-->
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script>
    $(document).ready(function () {
        $('#bultenkayit').click((event) => {
            event.preventDefault();

            let email = $('#bultenform').serialize();
            if (email.length > 17) {
                $.ajax({
                    method: 'POST',
                    url: '/registerBulten',
                    data: email,
                    success: function (data) {
                        if (data.status) {
                            $('#bultenemail').val("");
                            Swal.fire({
                                position: 'top-end',
                                icon: 'success',
                                title: 'Bültene Başarıyla Kayıt Oldunuz.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }else if(data.duplikey){
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: 'Bu Mail Zaten Kayıtlı.',
                                showConfirmButton: false,
                                timer: 1500
                            })
                        } else {
                            Swal.fire({
                                position: 'top-end',
                                icon: 'error',
                                title: data.hata,
                                showConfirmButton: false,
                                timer: 1500
                            })
                        }
                    }
                })
            } else {
                Swal.fire({
                    position: 'top-end',
                    icon: 'error',
                    title: 'En Az 5 Karakter Girmelisiniz.',
                    showConfirmButton: false,
                    timer: 1500
                })
            }

        })
    })
</script>