

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-2">Şifreni mi unuttun?</h1>
                                        <p class="mb-4">Merak etme, kayıtlı email adresini gir, sana bir link göndereceğiz.</p>
                                        <% if (locals.auth_errors != null || locals.auth_success != null) { %>
                                            <%- include('../partials/_validateErrorMsg.ejs')%> 
                                        <% } %>
                                    </div>
                                    <form class="user" action="/reset-my-pass" method="POST">
                                        <div class="form-group">
                                            <input type="email" name="email" class="form-control form-control-user"
                                                id="exampleInputEmail" aria-describedby="emailHelp"
                                                placeholder="Kayıtlı email adresinizi girin..">
                                        </div> 
                                        <button type="button" class="btn btn-primary btn-user btn-block"  data-toggle="modal" data-target="#exampleModal">
                                            Şifremi sıfırla
                                        </button>
                                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel" >Robot Kontrol</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div align="center" class="modal-body">
                                               <img style="height: 200px !important" class="img-fluid" src="/admin/img/robot-check.png" alt="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Robotum</button>
                                                <button type="submit" class="btn btn-primary">Şifremi Sıfırla</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="/register">Yeni bir hesap oluştur!</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="/login">Hesabın var mı? Giriş Yap!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    