<!-- Outer Row -->
<div class="row justify-content-center">
    <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Hoş Geldin</h1>
                                <% if (locals.auth_errors !=null || locals.auth_success !=null) { %>
                                    <%- include('partials/_validateErrorMsg.ejs')%>
                                        <% } %>
                            </div>
                            <form class="user" action="/login" method="POST">
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control form-control-user"
                                        id="exampleInputEmail" aria-describedby="emailHelp"
                                        placeholder="Mail Adresinizi Girin">
                                </div>
                                <div class="form-group">
                                    <input type="password" name="pass" class="form-control form-control-user"
                                        id="exampleInputPassword" placeholder="Şifreniz">
                                </div>


                                <button type="button" class="btn btn-primary btn-user btn-block" data-toggle="modal"
                                    data-target="#exampleModal">
                                    Giriş Yap
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel" >Robot Kontrol</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div align="center" class="modal-body">
                                               <img style="height: 200px !important" class="img-fluid" src="/admin/img/robot-check.png" alt="">
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-dismiss="modal">Robotum</button>
                                                <button type="submit" class="btn btn-primary">Giriş Yap</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="mt-1 mb-1" align='center'><b>yada</b></div>
                                <a href="/auth/google" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Google ile giriş yap
                                </a>
                                <a href="/auth/facebook" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Facebook ile giriş yap
                                </a>
                                <!-- <a style="background-color: #BC0093; color: white;" href="/auth/instagram"
                                    class="btn btn-instagram btn-user btn-block">
                                    <i class="fab fa-instagram"></i> İnstagram ile giriş yap
                                </a> -->
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/forgot">Şifreni mi unuttun?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/register">Hesap Oluştur ! </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>